@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* o * é uma indicção para todo o site receba a propriedade que eu determino */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /* para que a margem seja respeitada */
    font-family:'Raleway', sans-serif;

}

/*Definir propriedades globais*/

html{
    background-color: #fbfbfb;
}

.logomarca{
    width: 12vw;
}

.titulo{
    font-size: 48px;
    font-weight: 700;
    line-height: 4rem;/* tamanho da linha */
    color: #33303e;

}
.descricao{
    font-size: 24px;
    font-weight: 500;
    line-height: 2,5rem;/* tamanho da linha */
    color: #4e4b59;

}
/* menu */
.menu{
 
    width: 85%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cabecalho{
    padding:32px 0px; 
    box-shadow: 0px 1px 10px #0000001a;
/*    background-color: red; */ /* cor vermelha que tinhamos colocado
 no cabeçalho */
}

.links-navegacao{
    list-style-type: none;       

    display: flex;
    flex-direction: row;
}

.links-navegacao li a{
    padding: 16px;
    font-size: 1.4rem; /* equivale a 20px */
    font-weight: 600;
    color: #4e4b59;
    text-decoration: none;
    
}
li.registrar a{
    color: #ff6e22;

}
/* efeito hover para quando passamos o mouse */
li.registrar a:hover{
   font-size: 1.5rem;
   padding: 10px 13px; /* altura e largura do passing (margem) */
   transition:0.5s ease; /* tempo para que o efeito aconteça */

}

/*corpo principal*/
.corpo{
    padding-top: 48px;
    padding-bottom: 48px; /* colocar uma distancia da imagem para o cabeçalho */
}

.painel-principal{
    width: 85%;
    margin:0 auto;/* zerando a margem de cima e de baixo */
    margin-bottom: 128px; /* forçando um novo valor para o bottom */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.anuncio-petz{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

}

.botao-principal{
    font-size: 19px;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 16px 32px;/* altura (top e bottom) e largura, isso simplifica colocar distanciao do topo e da base (right e left) e das laterais */
    background-color: #ff950d;
    color: #f5f5f5;
    border: 1px solid #f5f5f5;    /* espessura da borda */
    border-radius: 10px; /* borda arredondada */
}

.imagens-petz{

    display: flex;
    flex-direction: row;
    gap: 30px; /* espaçamento entre as imagens */


}
.fotos-da-esquerda,.fotos-da-direita{ /* coloquei as duas fotos para que elas ficassem totalmente alinhadas */

    display: flex;
    flex-direction: column;
    justify-content: space-between; /* colocar as fotos com mesmo alinhamento */
}


.fotos-da-esquerda img{
width: 10vw; /* foto com 10% da largura da tela */
border-radius: 8px;
}

.fotos-da-direita img{
    width: 22vw; /* foto com 22% da largura da tela */
    border-radius: 8px;
    }

    /* seção de perfil */
    .tipos-perfil{
        padding-top: 48px;
        padding-bottom: 48px;
        background-color: #ff880026;

        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .tipos-perfil h2{

        width: 52%;
        text-align: center;

    }

    .cards-container{

        width: 70%;
        margin-top: 48px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .card-de-perfil{

        width: 28vw;
        padding: 32px;
        border-radius: 10px;
        background-color: #fbfbfb;
        box-shadow: 2px 2px 15px #4e4d5926;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;



    }
    .card-de-perfil img{

        width: 16vw;

    }

    .conteudo-card{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;



    }

    .link-card{
        font-size: 22px;
        font-weight: 600;
        text-decoration: underline;
        margin-top: 16px;

        color: #0088ae;

    }

    .link-roxo{
        color:#a944ff;

    }